<div>
  <%= link_to 'Posts', posts_path %> | <%= link_to 'Categories', categories_path %> | <%= link_to 'Google', 'https://google.com', :onclick=>"window.open(this.href,'create_company', 'height=600, width=1200');return false;" %> 
</div>
